__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
pip-wheel-metadata/
build/
dist/
*.egg-info/
.eggs/
*.egg
.coverage
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.pfx
*.pem
*.key
*.crt
*.der
.pypirc
.env
samples/*.xml
gnre_guia*.pdf
